html, body, .container{
    height: 100%;
}
.navbar-brand{
    color:#454545;
    float: none;
}
.navbar-brand > img{
    width: 32%;
    display: inline-block;
    margin-top: -4px;
}
.panel {
    margin-top: 25%;
}
